.titel{{
    color: #B35F35;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-color: #FFFFFF;
    border-radius: 0px;
}}

.row{{
    background-color: #FFFFFF;
    padding: 0px;
    border-radius: 0px;
}}